{% extends 'base_basic_header.twig' %}

{% block title %}
    Team | Webchain
{% endblock %}
{% block section %}
    Team
{% endblock %}

{% block content_injected %}

    <div class="team container-fluid my-5 px-md-5 mx-auto mt-5">
        <div class="my-3">
            <h2 class="text-center title-text">We are the team behind Webchain and CoinIMP</h2>
        </div>


        <div class="container mt-4 text-center">

            <div class="row">

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/artur.jpg') }}">
                    <p class="member-name">Artur Makówka</p>
                    <p class="member-role">CEO & Founder</p>
                    <a target="_blank" href="https://www.linkedin.com/in/arturmakowka">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/johan.jpg') }}">
                    <p class="member-name">Johan Pereira</p>
                    <p class="member-role">Project Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/johan-pereira">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/pavel-sabadash.jpg') }}">
                    <p class="member-name">Pavel Sabadash</p>
                    <p class="member-role">Project Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/pavel-sabadash-18376783">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/jakub.jpg') }}">
                    <p class="member-name">Jakub Czechowski</p>
                    <p class="member-role">Full-Stack Developer & Project Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/jakubczechowski">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>
        </div>


        <div class="container mt-4 text-center">
            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/lukasz-matczak.jpg') }}">
                    <p class="member-name">Łukasz Matczak</p>
                    <p class="member-role">Technical Lead & Blockchain Architect</p>
                    <a target="_blank" href="https://www.linkedin.com/in/lukasz-matczak">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kseniia-semenova.jpg') }}">
                    <p class="member-name">Ksenia Semenova</p>
                    <p class="member-role">QA Team Lead</p>
                    <a target="_blank" href="https://www.linkedin.com/in/kseniia-semenova-84749684">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/ronald-arias.jpg') }}">
                    <p class="member-name">Ronald Arias</p>
                    <p class="member-role">Development Team Lead & Senior Blockchain Developer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/ronaldeam">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/victor-fedorenko.jpg') }}">
                    <p class="member-name">Victor Fedorenko</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/victor-fedorenko-43b384139">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/afaf.jpg') }}">
                    <p class="member-name">Afaf Hassan</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/afaf-eltokhy-103aa99">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kidhoma.jpg') }}">
                    <p class="member-name">Kidhoma Norman</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/kidhoma-norman-a1a86815b">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/khaled.jpg') }}">
                    <p class="member-name">Khaled Alam</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/khaledalam">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/adel.jpg') }}">
                    <p class="member-name">Adel Armand</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/adel-armand">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/vitaliy.jpg') }}">
                    <p class="member-name">Vitaliy Gavryshenko</p>
                    <p class="member-role">Senior Unix Engineer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/vitaly-gavryshenko-3348a9167">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/viktor-saenko.jpg') }}">
                    <p class="member-name">Viktor Saenko</p>
                    <p class="member-role">Senior Unix Engineer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/viktor-saenko-61645045">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/valeriu-piduna.jpg') }}">
                    <p class="member-name">Valeriu Piduna</p>
                    <p class="member-role">Senior Unix Engineer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/pidunav/">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/jhonny.jpg') }}">
                    <p class="member-name">Jhonny Garzon</p>
                    <p class="member-role">Senior QA Specialist</p>
                    <a target="_blank" href="https://www.linkedin.com/in/jhonnygarzon-it">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/muhammad-gamal.jpg') }}">
                    <p class="member-name">Muhammad Gamal</p>
                    <p class="member-role">QA Specialist</p>
                    <a target="_blank" href="https://www.linkedin.com/in/muhammad-gamal-61a018118">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/cecilia.jpg') }}">
                    <p class="member-name">Cecilia Farias</p>
                    <p class="member-role">QA Specialist</p>
                    <a target="_blank" href="https://www.linkedin.com/in/ana-cecilia-farias">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/zapata.jpg') }}">
                    <p class="member-name">Alberto Zapata</p>
                    <p class="member-role">QA Specialist</p>
                    <a target="_blank" href="https://www.linkedin.com/in/alberto-zapata-orta">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kizito-pius-tendo.jpg') }}">
                    <p class="member-name">Kizito Pius Tendo</p>
                    <p class="member-role">HR Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/pius-tendo-21322ab2">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/elvis.jpg') }}">
                    <p class="member-name">Elvis Contreras</p>
                    <p class="member-role">Recruiting Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/elvis-contreras-8606a315b">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/moe.jpg') }}">
                    <p class="member-name">Mohamed Shawky</p>
                    <p class="member-role">Blockchain Research and Marketing Leader</p>
                    <a target="_blank" href="https://www.linkedin.com/in/mohamed-shawky-a482a0113">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/mohamed-tarek.jpg') }}">
                    <p class="member-name">Mohamed Tarek</p>
                    <p class="member-role">Blockchain Market Researcher</p>
                    <a target="_blank" href="https://www.linkedin.com/in/mado00">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/alla.jpg') }}">
                    <p class="member-name">Alla Shtokal</p>
                    <p class="member-role">Technical Support</p>
                    <a target="_blank" href="https://www.linkedin.com/in/shtokal-alla">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/mathias-odia.jpg') }}">
                    <p class="member-name">Mathias Odia</p>
                    <p class="member-role">Technical Support</p>
                    <a target="_blank" href="https://www.linkedin.com/in/mathias-odia-976790b9">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/iryna.jpg') }}">
                    <p class="member-name">Iryna Fedoseienko</p>
                    <p class="member-role">Technical Support</p>
                    <a target="_blank" href="https://www.linkedin.com/in/iryna-f-b9357b15b">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('#') }}">
                    <p class="member-name">Yusveiling Rodriguez</p>
                    <p class="member-role">Digital Marketer and SMM</p>
                    <a target="_blank" href="https://www.linkedin.com/in/yusveiling-rodriguez-peraza-647a7277">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/daniel.jpg') }}">
                    <p class="member-name">Daniel Kouam</p>
                    <p class="member-role">Marketing Specialist</p>
                    <a target="_blank" href="https://www.linkedin.com/in/jean-daniel-kouam-waguia-7241b682">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/alberto.jpg') }}">
                    <p class="member-name">Alberto Delgado</p>
                    <p class="member-role">Digital Marketing Strategist & Copywriter</p>
                    <a target="_blank" href="https://www.linkedin.com/in/alberto-delgado">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/vanilla-rodriguez.jpg') }}">
                    <p class="member-name">Vanilla Rodriguez</p>
                    <p class="member-role">Digital Marketing Specialist</p>
                    <a target="_blank" href="https://www.linkedin.com/in/vanilla-rodriguez-625060128">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kenny.jpg') }}">
                    <p class="member-name">Kenny Sanabria</p>
                    <p class="member-role">Motion Graphic Designer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/kenny-sanabria-50232413b">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/irving.jpg') }}">
                    <p class="member-name">Irving Arrieta Vazquez</p>
                    <p class="member-role">Senior Graphic & Web Designer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/irvingarrietavazquez">
                        <img class="linkedin-icon" src="{{ asset('build/images/linkedin.png') }}">
                    </a>
                </div>

            </div>





        </div>

    </div>


{% endblock %}