{% extends 'base_basic_header.twig' %}

{% block title %}
    Team | Webchain
{% endblock %}
{% block section %}
    Team
{% endblock %}

{% block content_injected %}

    <div class="team container-fluid my-5 px-md-5 mx-auto mt-5">

        <div class="container mt-5 text-center">

            <div class="row">

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/artur.jpg') }}">
                    <p class="member-name">Artur Makówka</p>
                    <p class="member-role">CEO & Founder</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/arturmakowka">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/johan.jpg') }}">
                    <p class="member-name">Johan Pereira</p>
                    <p class="member-role">Project Manager</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/johan-pereira">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/pavel-sabadash.jpg') }}">
                    <p class="member-name">Pavel Sabadash</p>
                    <p class="member-role">Project Manager</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/pavel-sabadash-18376783">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="mb-2 col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/jakub.jpg') }}">
                    <p class="member-name">Jakub Czechowski</p>
                    <p class="member-role">Full-Stack Developer & Project Manager</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jakubczechowski">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>
        </div>


        <div class="container mt-4 text-center">
            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/lukasz-matczak.jpg') }}">
                    <p class="member-name">Łukasz Matczak</p>
                    <p class="member-role">Technical Lead & Blockchain Architect</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/lukasz-matczak">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kseniia-semenova.jpg') }}">
                    <p class="member-name">Ksenia Semenova</p>
                    <p class="member-role">QA Team Lead</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/kseniia-semenova-84749684">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/ronald-arias.jpg') }}">
                    <p class="member-name">Ronald Arias</p>
                    <p class="member-role">Development Team Lead & Senior Blockchain Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/ronaldeam">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/victor-fedorenko.jpg') }}">
                    <p class="member-name">Victor Fedorenko</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/victor-fedorenko-43b384139">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/afaf.jpg') }}">
                    <p class="member-name">Afaf Hassan</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/afaf-eltokhy-103aa99">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kidhoma.jpg') }}">
                    <p class="member-name">Kidhoma Norman</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/kidhoma-norman-a1a86815b">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/khaled.jpg') }}">
                    <p class="member-name">Khaled Alam</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/khaledalam">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/adel.jpg') }}">
                    <p class="member-name">Adel Armand</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/adel-armand">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/jiang-jian.jpg') }}">
                    <p class="member-name">Jiang Jian</p>
                    <p class="member-role">Full-Stack Developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jiang-jian-61891b164/">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/jboadas.jpg') }}">
                    <p class="member-name">Jesus Boadas</p>
                    <p class="member-role">Senior Unix Engineer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jesus-boadas">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/viktor-saenko.jpg') }}">
                    <p class="member-name">Viktor Saenko</p>
                    <p class="member-role">Senior Unix Engineer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/viktor-saenko-61645045">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/valeriu-piduna.jpg') }}">
                    <p class="member-name">Valeriu Piduna</p>
                    <p class="member-role">Senior Unix Engineer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/pidunav/">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/jhonny.jpg') }}">
                    <p class="member-name">Jhonny Garzon</p>
                    <p class="member-role">Senior QA Specialist</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jhonnygarzon-it">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/muhammad-gamal.jpg') }}">
                    <p class="member-name">Muhammad Gamal</p>
                    <p class="member-role">QA Specialist</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/muhammad-gamal-61a018118">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/cecilia.jpg') }}">
                    <p class="member-name">Cecilia Farias</p>
                    <p class="member-role">QA Specialist</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/ana-cecilia-farias">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/zapata.jpg') }}">
                    <p class="member-name">Alberto Zapata</p>
                    <p class="member-role">QA Specialist</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/alberto-zapata-orta">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kizito-pius-tendo.jpg') }}">
                    <p class="member-name">Kizito Pius Tendo</p>
                    <p class="member-role">HR Manager</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/pius-tendo-21322ab2">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/elvis.jpg') }}">
                    <p class="member-name">Elvis Contreras</p>
                    <p class="member-role">Recruiting Manager</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/elvis-contreras-8606a315b">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/moe.jpg') }}">
                    <p class="member-name">Mohamed Shawky</p>
                    <p class="member-role">Blockchain Research and Marketing Leader</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/mohamed-shawky-a482a0113">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/mohamed-tarek.jpg') }}">
                    <p class="member-name">Mohamed Tarek</p>
                    <p class="member-role">Blockchain Market Researcher & Full-stack developer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/mado00">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/alla.jpg') }}">
                    <p class="member-name">Alla Shtokal</p>
                    <p class="member-role">Technical Support</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/shtokal-alla">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/mathias-odia.jpg') }}">
                    <p class="member-name">Mathias Odia</p>
                    <p class="member-role">Technical Support</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/mathias-odia-976790b9">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/iryna.jpg') }}">
                    <p class="member-name">Iryna Fedoseienko</p>
                    <p class="member-role">Technical Support</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/iryna-f-b9357b15b">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/daniel.jpg') }}">
                    <p class="member-name">Daniel Kouam</p>
                    <p class="member-role">Marketing Specialist</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jean-daniel-kouam-waguia-7241b682">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/alberto.jpg') }}">
                    <p class="member-name">Alberto Delgado</p>
                    <p class="member-role">Digital Marketing Strategist & Copywriter</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/alberto-delgado">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/vanilla-rodriguez.jpg') }}">
                    <p class="member-name">Vanilla Rodriguez</p>
                    <p class="member-role">Digital Marketing Specialist</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/vanilla-rodriguez-625060128">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/kenny.jpg') }}">
                    <p class="member-name">Kenny Sanabria</p>
                    <p class="member-role">Motion Graphic Designer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/kenny-sanabria-50232413b">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-sm-4">
                    <img class="member-image" src="{{ asset('build/images/irving.jpg') }}">
                    <p class="member-name">Irving Arrieta Vazquez</p>
                    <p class="member-role">Senior Graphic & Web Designer</p>
                    <a class="linkedin-link" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/irvingarrietavazquez">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}