<div id="news" class="news post">
    <article class="container-fluid px-md-5 mx-auto mt-5">
        <div>
            <h1>
                {{ post.title }}
            </h1>

        </div>

        <div class="row mb-3 mt-4">
            <div class="col-12 image-header">
                {% media post.image, 'wide' %}
            </div>
            <div class="col-12 mt-3">
                {{ post.content|raw }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-flex align-items-center">
                <h3 class="d-block m-0">
                    {{ post.publicationDateStart | format_date('y/MM/dd') }}
                </h3>
            </div>
            <div class="col">
                <button class="btn btn-grey float-right py-1" @click="isSocialShareShown = true">Share</button>
            </div>
        </div>

        <div class="mb-3 mt-5 pt-5 d-inline-block">
            <a class=" btn back-btn" href="{{ app.request.headers.get('referer') }}">BACK</a>
        </div>

        <Modal v-if="isSocialShareShown" @close="isSocialShareShown = false" v-cloak>
            <h3 slot="header">Share this post with your social!</h3>
            <div slot="body">
                <social-sharing title="{{ post.title }}"
                                description="{{ post.abstract | slice(0, 200) ~ '...' }}"
                                quote="{{ post.abstract | slice(0, 250) ~ '...' }}"
                                hashtags="webchain"
                                twitter-user="TheWebchain"
                                inline-template>
                    <div class="social-container">
                        <network network="facebook">
                            <i class="fa fa-facebook"></i> Facebook
                        </network>
                        <network network="googleplus">
                            <i class="fa fa-google-plus"></i> Google +
                        </network>
                        <network network="linkedin">
                            <i class="fa fa-linkedin"></i> LinkedIn
                        </network>
                        <network network="reddit">
                            <i class="fa fa-reddit"></i> Reddit
                        </network>
                        <network network="telegram">
                            <i class="fa fa-telegram"></i> Telegram
                        </network>
                        <network network="twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </network>
                    </div>
                </social-sharing>
            </div>
            <div slot="footer"></div>
        </Modal>
    </article>
</div>
